.img{
    height: 200px;
    width: auto;
    margin-left: 30px;
}
.intro{
    font-size: larger;
}
/* .navbar{
    float: right;
} */
.btn{
    margin: 20px;
}
.first{
    display: flex;
}
.btns{
    float: right;
}
body{
    background-image: url(portf.webp);
    color: aliceblue;
}
.ach{
    margin: 30px;
    text-align: center;
}
.skill{
    text-align: center;
}
.intro{
    color: aliceblue;
}